<h3> Table: {{ mylist.title }} </h3>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Author</th>
		<th>Year</th>
		<th>Department</th>
		<th><span class="glyphicon glyphicon-wrench"></span></th>
		<th></th>
	</tr>
	<tr ng-repeat="item in mylist.list">
		<td>
			{{item.ID}}
		</td>
		<td>
			{{item.Author}}
		</td>
		<td>
			{{item.Name}}
		</td>
		<td>
			{{item.Year}}
		</td>
		<td>
			{{item.Departmen}}
		</td>
		<td>
			<button type="button" class="btn btn-success btn-sm" ng-click="addDialog.open()">Open...</button>
		</td>
	</tr>
</table>
