
@{
    ViewBag.Title = "Welcome";
}
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }

    .selected {
        background-color: mediumseagreen;
        color: darkslategrey;
        font-weight: bold;
    }
</style>
<script>

</script>
<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nav">
                        <a href="#home" class="button">Home</a>

                        <a href="#about" class="button">Back</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div ng-view=""></div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>Departmens list</h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th><span class="glyphicon glyphicon-wrench"></span></th>
                    </tr>
                    <tbody data-ng-repeat="sub in subscriber" ng-click="setSelected(sub.ID)" ng-class="{selected : sub.ID === idSelected}">
                        <tr>
                            <td>{{sub.ID}}</td>
                            <td ng-blur="updDepartOnClick(sub,$event)" ng-dblclick="makeEditable($event)">{{sub.Name}} </td>
                            <td>{{sub.City}}</td>
                            <td>
                                <input type="button" class="btn btn-danger btn-sm" id="Delete" value="Delete" data-ng-click="deleteDepart(sub.ID)" />
                                <button type="button" class="btn btn-success btn-sm" ng-click="editDialog.open(sub)">Edit </button>
                                <input type="button" class="btn btn-toolbar btn-sm" value="Get books" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>Insert new department</h4>
                <div class="form-group">
                    <label for="departname">Name:</label>
                    <input type="text" class="form-control" id="departname" placeholder="Enter name" [required="string" ] data-ng-model="departname" />
                    <label for="departcity">City:</label>
                    <input type="text" class="form-control" id="departcity" placeholder="Enter city" [required="string" ] data-ng-model="departcity" />
                </div>
                <button type="button" class="btn btn-success btn-xs" data-ng-click="saveSubs();">Submit</button>
                <button type="button" class="btn btn-success btn-xs" ng-click="addDialog.open()">Add new department</button>
            </div>
            <div class="col-sm-6">
                <h3>Books of department no. {{idSelected}} </h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Department</th>
                        <th><span class="glyphicon glyphicon-wrench"></span></th>
                    </tr>
                    <tr ng-repeat="book_filter in book_v | filter:idSelected">
                        <td ng-blur="updBookOnClick(book_filter,$event)" ng-dblclick="makeEditable($event)">{{book_filter.Name}}</td>
                        <td>{{book_filter.Author}}</td>
                        <td>{{book_filter.Year}} </td>
                        <td>{{book_filter.Department}}</td>
                        <td>
                            <input type="button" class="btn btn-danger btn-sm" id="Delete" value="Delete" data-ng-click="deleteBook(book_filter.ID)" />
                            <button type="button" class="btn btn-success btn-sm" ng-click="editBookDialog.open(book_filter)">Edit...</button>
                        </td>
                    </tr>
                </table>
                <h4>Insert new book</h4>
                <form class="form-group" name="bookForm">
                    <label for="bookname">Name:</label>
                    <input required name="bookname" type="text" class="form-control" id="bookname" placeholder="Enter name" [required="string" ] data-ng-model="bookname" />
                    <div style="color:red" ng-show="bookForm.bookname.$dirty && bookForm.bookname.$invalid">
                        <span ng-show="bookForm.bookname.$error.required">Name is required.</span>
                    </div>
                    <label for="bookauthor">Author:</label>
                    <input required name="bookauthor" type="text" class="form-control" id="bookauthor" placeholder="Enter author" [required="string" ] data-ng-model="bookauthor" />
                    <div style="color:red" ng-show="bookForm.bookauthor.$dirty && bookForm.bookauthor.$invalid">
                        <span ng-show="bookForm.bookauthor.$error.required">Author is required.</span>
                    </div>
                    <label for="bookyear">Year:</label>
                    <input required name="bookyear" type="number" class="form-control" id="bookyear" placeholder="Enter year" [required="string" ] data-ng-model="bookyear" />
                    <div style="color:red" ng-show="bookForm.bookyear.$dirty && bookForm.bookyear.$invalid">
                        <span ng-show="bookForm.bookyear.$error.required">Year is required.</span>
                        <span ng-show="bookForm.bookyear.email">Invalid year.</span>
                    </div>
                    <label for="bookdepart">Department:</label>
                    <select required class="form-control" data-ng-model="bookdepart" id="bookdepart">
                        <option class="form-control" data-ng-repeat="x in subscriber" ng-model="sub.Department" ng-value="{{x.ID}}">{{x.Name}}</option>
                    </select>
                    <button type="button" class="btn btn-success btn-xs" ng-click="reset()">Reset</button>
                </form>
                <button ng-disabled=" bookForm.bookname.$invalid && bookForm.bookname.$untouched
                        || bookForm.bookauthor.$untouched && bookForm.bookauthor.$invalid
                        || bookForm.bookyear.$untouched && bookForm.bookyear.$invalid
                        || bookForm.sub.Department.$untouched" type="button" class="btn btn-success btn-xs" data-ng-click="saveBooks();">
                    Submit
                </button>
                <button type="button" class="btn btn-success btn-xs" ng-click="addBookDialog.open()">Add new book</button>
            </div>
        </div>
        @*<div class="col-sm-12">
            @using (Html.BeginForm())
            {
                <p>Find by name: @Html.TextBox("SearchString")<input class="btn btn-danger btn-sm" type="submit" value="Search" /></p>
            }
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </table>
        </div>*@

        <div class="col-sm-12">
            <input type="number" class="form-control" placeholder="Input year here" ng-model="priceterm" />
            <label>Any: <input ng-model="search.$"></label> <br>
            <label>Name only <input ng-model="search.Name"></label><br>
            <label>Author only <input ng-model="search.Author"></label><br>
            <table class="table">
                <tr ng-repeat="b in book_v|valueGreaterThan:priceterm |filter : search:strict">
                    <td>
                        {{b.Name}}
                    </td>
                    <td>
                        {{b.Author}}
                    </td>
                    <td>
                        {{b.Year}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
