
@{
    ViewBag.Title = "Welcome";
}
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }

    .selected {
        background-color: mediumseagreen;
        color: darkslategrey;
        font-weight: bold;
    }
</style>

<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        <div class="row">
            <div class="col-sm-6">
                <h2>Departmens list</h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th><span class="glyphicon glyphicon-wrench"></span></th>
                    </tr>
                    <tbody data-ng-repeat="sub in subscriber" ng-click="setSelected(sub.ID)" ng-class="{selected : sub.ID === idSelected}">
                        <tr>
                            <td>{{sub.ID}}</td>
                            <td>{{sub.Name}} </td>
                            <td>{{sub.City}}</td>
                            <td>
                                <input type="button" class="btn btn-danger btn-xs" id="Delete" value="Delete" data-ng-click="deleteDepart(sub.ID)" />
                                <button type="button" class="btn btn-success btn-xs" ng-click="editDialog.open(sub)">Edit...</button>
                                <input type="button" class="btn btn-toolbar btn-xs" value="Get books" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>Insert new department</h4>
                <div class="form-group">
                    <label for="departname">Name:</label>
                    <input type="text" class="form-control" id="departname" placeholder="Enter name" [required="string" ] data-ng-model="departname" />
                    <label for="departcity">City:</label>
                    <input type="text" class="form-control" id="departcity" placeholder="Enter city" [required="string" ] data-ng-model="departcity" />
                </div>
                <button type="button" class="btn btn-success btn-sm" data-ng-click="saveSubs();">Submit</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="addDialog.open()">Add new department</button>
            </div>
            <div class="col-sm-6">
                <h3>Books of department no. {{idSelected}} </h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Department</th>
                        <th><span class="glyphicon glyphicon-wrench"></span></th>
                    </tr>
                    <tr ng-repeat="book_filter in book_v | filter:idSelected">
                        <td>{{book_filter.Name}}</td>
                        <td>{{book_filter.Author}}</td>
                        <td>{{book_filter.Year}} </td>
                        <td>{{book_filter.Department}}</td>                       
                        <td>
                            <input type="button" class="btn btn-danger btn-xs" id="Delete" value="Delete" data-ng-click="deleteBook(sub.ID)" />
                            <button type="button" class="btn btn-success btn-xs" ng-click="editBookDialog.open(sub)">Edit...</button></td>
                    </tr>
                </table>             
               
                <h4>Insert new book</h4>
                <div class="form-group">
                    <label for="bookname">Name:</label>
                    <input type="text" class="form-control" id="bookname" placeholder="Enter name" [required="string" ] data-ng-model="bookname" />
                    <label for="bookauthor">Author:</label>
                    <input type="text" class="form-control" id="bookauthor" placeholder="Enter author" [required="string" ] data-ng-model="bookauthor" />
                    <label for="bookyear">Year:</label>
                    <input type="text" class="form-control" id="bookyear" placeholder="Enter year" [required="string" ] data-ng-model="bookyear" />
                    <label for="bookdepart">Department:</label>
                    <select class="form-control" data-ng-model="bookdepart" id="bookdepart">
                        <option class="form-control" data-ng-repeat="x in subscriber" ng-model="sub.Department" ng-value="{{x.ID}}">{{x.Name}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-ng-click="saveBooks();">Submit</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="addDialog.open()">Add new book</button>
            </div>

        </div>
    </div>
</body>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>   